*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
body {
    font-size: 16px;
}
.container {
    max-width: 1400px;
    padding: 0 12px;
    margin: 0 auto;
}
.example {
    padding: 100px 0;
    margin: 100px auto;
}
.exemple-title {
    font-size: 24px;
    font-weight: 600;
    margin: 36px 0;
}
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}


.g-1 { 
    gap: 12px;
}
.g-2 { 
    gap: 24px;
}
.g-3 { 
    gap: 36px;
}
.g-4 { 
    gap: 48px;
}
.g-5 { 
    gap: 60px;
}

.mb-1 {
    margin-bottom: 12px;
}
.mb-2 {
    margin-bottom: 24px;
}