<section class="example">
    <div class="container">
        <h2 class="exemple-title">Buttons Constructor (default)</h2>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>
        <h2 class="exemple-title">Buttons Constructor (Outline)</h2>
             <button type="button" class="btn btn-primary btn-outline">Primary</button>
             <button type="button" class="btn btn-secondary btn-outline">Secondary</button>
             <button type="button" class="btn btn-success btn-outline">Success</button>
             <button type="button" class="btn btn-danger btn-outline">Danger</button>
             <button type="button" class="btn btn-warning btn-outline">Warning</button>
             <button type="button" class="btn btn-info btn-outline">Info</button>
             <button type="button" class="btn btn-light btn-outline">Light</button>
             <button type="button" class="btn btn-dark btn-outline">Dark</button>
         <h3 class="exemple-title">Buttons Constructor (roundet)</h3>
             <button type="button" class="btn btn-primary btn-roundet">Primary</button>
            <button type="button" class="btn btn-secondary btn-roundet">Secondary</button>
            <button type="button" class="btn btn-success btn-roundet">Success</button>
            <button type="button" class="btn btn-danger btn-roundet">Danger</button>
            <button type="button" class="btn btn-warning btn-roundet">Warning</button>
            <button type="button" class="btn btn-info btn-roundet">Info</button>
            <button type="button" class="btn btn-light btn-roundet">Light</button>
            <button type="button" class="btn btn-dark btn-roundet">Dark</button>
         <h3 class="exemple-title">Buttons Constructor (roundet, outline)</h3>  
            <button type="button" class="btn btn-primary btn-roundet btn-outline">Primary</button>
            <button type="button" class="btn btn-secondary btn-roundet btn-outline">Secondary</button>
            <button type="button" class="btn btn-success btn-roundet btn-outline">Success</button>
            <button type="button" class="btn btn-danger btn-roundet btn-outline">Danger</button>
            <button type="button" class="btn btn-warning btn-roundet btn-outline">Warning</button>
            <button type="button" class="btn btn-info btn-roundet btn-outline">Info</button>
            <button type="button" class="btn btn-light btn-roundet btn-outline">Light</button>
            <button type="button" class="btn btn-dark btn-roundet btn-outline">Dark</button>
         <h3 class="exemple-title">Buttons Constructor (roundet,midle)</h3>
            <button type="button" class="btn btn-primary btn-roundet btn-md">Primary</button>
            <button type="button" class="btn btn-secondary btn-roundet btn-md">Secondary</button>
            <button type="button" class="btn btn-success btn-roundet btn-md">Success</button>
            <button type="button" class="btn btn-danger btn-roundet btn-md">Danger</button>
            <button type="button" class="btn btn-warning btn-roundet btn-md">Warning</button>
            <button type="button" class="btn btn-info btn-roundet btn-md">Info</button>
            <button type="button" class="btn btn-light btn-roundet btn-md">Light</button>
            <button type="button" class="btn btn-dark btn-roundet btn-md">Dark</button>
         <h3 class="exemple-title">Buttons Constructor (roundet,large)</h3>
            <button type="button" class="btn btn-primary btn-roundet btn-lg">Primary</button>
            <button type="button" class="btn btn-secondary btn-roundet btn-lg">Secondary</button>
            <button type="button" class="btn btn-success btn-roundet btn-lg">Success</button>
            <button type="button" class="btn btn-danger btn-roundet btn-lg">Danger</button>
            <button type="button" class="btn btn-warning btn-roundet btn-lg">Warning</button>
            <button type="button" class="btn btn-info btn-roundet btn-lg">Info</button>
            <button type="button" class="btn btn-light btn-roundet btn-lg">Light</button>
            <button type="button" class="btn btn-dark btn-roundet btn-lg">Dark</button>

    </div>
</section>